/*  
 * Theme Name: Arthemia
 * CSS file: Category ribbon theming.
 */

.category {
	width:164px;
	float:left;
	border-top:8px solid #333;
	margin:0px;
	padding:5px 10px 10px 10px;
	background:#fff;
}

.category p {
	margin:0;
}

#cat-1, #cat-3, #cat-5  {border-top:8px solid #333333;}
#cat-2, #cat-4 {border-top:8px solid #3c78a7;}

.category span.cat_title {
	text-transform:lowercase;
	margin:0;
	font-weight:bold;
	font-size:1.5em;
	letter-spacing:-0.05em;
}

.category a, .category a:visited {
	color:#333;
	display:block;
	background:none;
}

.category a:hover {
	text-decoration:none;
}

#cat-1:hover, #cat-1:hover a, #cat-3:hover, #cat-3:hover a, #cat-5:hover, #cat-5:hover a {background:#333333; color:#fff; }
#cat-2:hover, #cat-2:hover a, #cat-4:hover, #cat-4:hover a {background:#3c78a7; color:#fff; }