/*  
 * Theme Name: Arthemia
 * Theme URI: http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/
 * Description: <a href="http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/">Arthemia</a> theme is combining a magazine and a weblog into one; it is not too magazine-ish nor too blog-ish.
 * Version: 1.0
 * Author: Michael Jubel Hutagalung
 * Author URI: http://michaelhutagalung.com/2008/05/arthemia-magazine-blog-wordpress-theme-released/

 * The CSS, XHTML and design is released under GPL:
 * http://www.opensource.org/licenses/gpl-license.php
 * Theme ported to Drupal by nbz (http://drupal.org/user/123528/track) and the necessary changes made to the files.
*/


/*
 * HTML Elements
 */
* {
	margin:0;
	padding:0;
}

body {
	font: 100% Arial, Helvetica;
	background: #FFF;
	color: #666;
}
  
dl {
  margin: 0.5em 0 1em 0.5em;
}

dl dd {
  margin: 0 0 .5em 1em;
}

fieldset {
  border:1px solid #C8DBEA;
}

legend {
  font-weight: bold;
  color: #3c78a7;
}

p {	
	margin: 15px 0;
}

a:link, a:visited {
	color: #3c78a7;
	text-decoration:none
}

a:hover, a:active {
	color: #3c78a7;
	text-decoration:underline;
}

a img {
	border:0;
}

acronym, abbr, span.caps {	
	font-size: 0.9em;
	letter-spacing: .07em;
	cursor: help;
}			

acronym, abbr {
	border-bottom: 1px dashed #999;
}

li{	
	margin-left:30px;
}

.tabs li {
	margin-left:0;
}

/*
 * Text
 */
h1, h2, h3, h4 {
	color:#3c78a7;
}

h1 {
	font:2.3em Georgia, "Times New Roman";
}

h2 {
	font:1.8em Georgia, "Times New Roman";
}

h3 {
	font:1.5em Georgia, "Times New Roman";
	margin-bottom:3px;
}

h4 {
	font:1.3em Georgia, "Times New Roman";
}

#content h1, #content h2, #content h3, #content h4 {
  text-shadow: #bbb 1px 1px 2px;
}

/*
 * Theme code and blockquote elements
 */
code {
  display:block;
	font: 1.0em 'Courier New', Courier, Fixed;
	padding: 10px;
	margin:10px;
}	

blockquote {
	padding: 10px;
	line-height:1.5em;
	margin:10px;
}

#page blockquote, #page  code {
	border-top: 1px solid #DAE7F1;
	border-bottom: 1px solid #DAE7F1;
  background-color: #EDF3F8;
}

#page blockquote blockquote {
  background-color: #DAE7F1;
}

#page .comment blockquote {
	border-top: 1px solid #C8DBEA;
	border-bottom: 1px solid #C8DBEA;
	background-color: #DAE7F1;
}

#page .comment blockquote blockquote {
  background-color: #EDF3F8;
}

/* 
 * Structure
 */
#head {
	width:960px;
	margin:0px auto;
	margin-top:15px;
	padding:0px;
	font-size:0.7em;
}

#page {
	width:940px;
	margin:0px auto;
	padding:10px;
	background:#ececec;
	font-size:0.7em;
}

/*
 * Navigation Bar
 */
#navbar {
	margin:0 auto;
	margin-top:15px;
	padding:0px 10px;
	text-transform:uppercase;
	background:#2c2c2c url(images/navbar.png);
}

#page-bar ul {
	list-style: none;
  z-index:10;
}

#page-bar li {
	float:left;
	list-style:none;
	cursor: pointer;
	display:block;
	border-right:1px solid #333;
}

#page-bar li:hover, #page-bar li a:hover {
	background: #3c78a7;
}

#page-bar a, #page-bar a:visited {
	margin: 0px;
	padding:10px 16px;
	font-weight:bold;
	color:#FFF;
	display:block;
}

#page-bar a:hover {
	text-decoration:none;
	display:block;
}

/*
 * Dropdown Menus
 */
#page-bar li {
	float: left;
	margin: 0px;
	padding: 0px;
}
	
#page-bar li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 122px;
	text-transform:none;
}
	
#page-bar li li a, #page-bar li li a:link, #page-bar li li a:visited {
	background: #2B2B2B;
	width: 122px;
	float: none;
	margin: 0px;
	padding: 5px 10px 5px 18px;
	border-top: 1px solid #C0C0C0;
}
	
#page-bar li li a:hover, #page-bar li li a:active {
	background: #666666;
	padding: 5px 10px 5px 18px;
}

#page-bar li ul {
	position: absolute;
	width: 10em;
	display: none;
}

#page-bar li:hover ul {
	display: block;
}

#page-bar li li ul {
  top:0px;
  left:140px;
  display: none!important;
}

#page-bar li li:hover ul {
  display: block!important;
  border-left: 1px solid #C0C0C0;
}

/*
 * Form Elements
 */
#searchform {
	width:194px;
	float:right;
	text-align:right;
	padding-top:8px;
	margin-right:10px;
}

#logo {
	width:350px;
  float:left;
}

#banner-region {
	float:right;
}

#sitename {
  float:left;
  height:60px;
  font-size:4em;
}

#tagline {
	margin-top:5px;
	font-size:1em;
	color:#333;
  clear:left;
}

#top {
	padding:0;
}

#headline {
	float:left;
	background:#fff;
	padding:10px;
	font-size:1.05em;
	line-height:1.5em;
	margin:0 0 10px 0;
}

.with-featured {
	width:590px;
  }

.no-featured {
  width:920px;
}

#featured {
	width:300px;
	background:#fff;
	float:right;
	padding:10px 10px 9px 10px;
  margin-bottom:10px;
}

#featured .clearfloat {
	margin-top:7px;
	margin-bottom:8px;
}


#middle {
	width: 920px;
	background:#fff;
	float:right;
	padding:10px;
	margin: 0 0 10px 0;
}

#bottom {
  display:table;
	width: 940px;
  margin-top:10px;
}

#headline p {
	padding-bottom:15px;
}

#headline p, #featured p {
	margin:0;
}

/*
 * Content Page
 */

#content {
	width:920px;
  background:#fff;
	padding:10px;
	font-size:1.05em;
	line-height:1.75em;
	float:left;
	min-height:400px;
}

.two-sidebars #content {
  width:440px;
  margin:0px 10px 0px 150px;
}

.sidebar-first #content {
  width:590px;
  margin:0px 10px 0px 0px;
}

.sidebar-second #content {
  width:770px;
  margin:0px 0px 0px 150px;
}

#content .breadcrumbs, #content .breadcrumbs a {
	font-weight:bold;
	color:#333;
}

#content .content {
  font-family: Verdana, "DejaVu Sans", Sans;
}

.node .content {
  margin-top:10px;
  display:block;
}

#content .content p {
	margin-top:0px;
}

#content .content .clearfloat {
	border-bottom:1px dotted #ccc;
	margin:10px 0px;
}

#content .content ul, #content .content ol{
	margin-bottom:15px;
}

#content .content li{	
	list-style:square;
  line-height:1.7em;
}

#content .content ol li{	
	list-style:inherit;
}

#content .content li ul li{	
	list-style:square;
	margin-left:20px;
}

.node {
  border-bottom: 1px dotted #ccc;
  margin-bottom:20px;
}

.node .links {
  clear:both;
  padding-left:20px;
}

.links li {
  margin-left:0px!important;
}

#content table {
  width:100%;
  border:1px solid #C8DBEA;
  border-collapse: separate;
  padding:0;
  margin:0px 0 10px 0;
}

#content table th {
  background-color:#C8DBEA;
  padding: 2px 5px;
  color: #3c78a7;
  line-height:1.5em;
}

#content table th, .topics, .posts, .last-reply , .created {
  text-align:center;
}

#content table td {
  padding: 2px 5px;
  line-height:1.5em;
}

#content tr.odd {
  background-color: #edf5fa;
}

#content tr.even {
  background-color: #E7F2F9;
}

.picture img {
  padding:2px;
  border: 1px solid #C8DBEA;
  background:#fff;
  margin-top:5px;
}

.field-type-taxonomy-term-reference {
  float:left;
  clear:both;
  width:100%;
  margin-botton:2em;
}

.field-type-taxonomy-term-reference .field-item {
  float:left;
  padding-right:2em;
}

/* 
 * Comments
 */

.comment {
  background-color:#EDF3F8;
  margin: 0 0 10px 0;
  display:block;
}

.comment .author-data {
  float:left;
  width:120px;
  height:100%;
  text-align:center;
  line-height:1.1em;
}

.comment .author-data  div{
  margin-top:5px;
}

.comment .comment-main {
  margin-left:120px;
  border-left:1px solid #C8DBEA;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}

.comment .content {
  padding: 10px;
  margin:0px;
}

.comment-header {
  background-color: #DAE7F1;
  border-bottom:1px solid #C8DBEA;
  padding: 0 5px;
}
.comment-header .submitted {
  float:left;
  font-weight:bold;
}

.comment-header .comment-link {
  float:right;
}

.comment .new {
  float:right;
  color:#CC0000;
  padding: 0 10px;
}

.comment .links {
  float:left;
  clear:both;
  text-align:right;
  display:block;
  padding:0px;
  background-color:#DAE7F1;
  border-top:1px solid #C8DBEA;
  width:100%;
}

.comment .links ul{
  padding: 0px 5px;
}

/*
 * System messages
 */
.messages {
  padding: 10px;
  margin:10px 0;
}

.status {
	border: 1px solid #C8DBEA;
	background-color: #DAE7F1;
  color: #3c78a7;
}

/*
 * Sidebar
 */
#sidebar-primary {
	width:320px;
	float:left!important;
	margin:0px 0px 0px 0px;
}

#sidebar-primary .block{
	width:300px;
}

#sidebar-secondary {
	width:140px;
  float:left;
	margin:0px 0px 0px -940px;
}

#sidebar-secondary .block{
  float:left;
	width:120px;
}

.sidebar h3 {
	font:1.5em Arial;
	font-weight:bold;
	background:#333;
	color:#fff;
	margin:10px 0px 5px 0px;
	padding:3px 10px;
}

.sidebar .odd h3 {
  background:#3c78a7;
}

.sidebar h3 a{
  color:#fff;
}

.sidebar .content {
  font-size:1.1em;
}

.sidebar .content h3 {
  font:1.2em Arial;
  background:#aaa;
}

.sidebar .block{
	width:300px;
	float:right;
	padding:0px 10px 10px 10px;
	background:#fff;
  margin-bottom:10px;
}

.sidebar ul {
  margin:0px;
  padding:0px;
}

.sidebar li {
	list-style:none;
	border-bottom:1px dotted #ccc;
	display:block;
	padding:2px 0px 2px 13px;
  margin:0px;
	background:url(images/sub.png) no-repeat 0 0px;
}

.sidebar li ul li:last-child{
	list-style:none;
	border-bottom:0px dotted #ccc;
	display:block;
	padding:2px 0px 0px 13px;
	background:url(images/sub.png) no-repeat 0 0px;
}

/*
 * Theming for the poll block
 */
.poll .title {
  margin-bottom:10px;
  font-weight:bold;
}

/*
 * Fix menu CSS by overriding the default icons.
 */
.menu li.expanded, .menu li.collapsed, .menu li.leaf {
  list-style-image:none;
}

/* 
 * Footer
 */
#footer-region {
	font-size:0.7em;
	color:#ccc;
	width: 940px;
	background:#2c2c2c url(images/bottombar.png) bottom no-repeat;
	margin: 0 auto;
	padding:10px;
}

#triptych-first, #triptych-second{
	width:280px;
	float:left;
	padding:10px;
}

#triptych-second {
	margin-left:17px;
}

#triptych-third {
	width:280px;
	float:right;
	padding:10px;
}

#footer-region a {
	color:#fff;
}

#footer-region ul {
	margin:5px 0 0 0;
  padding:0px;
}

#footer-region li{
	list-style:none;
	border-top:1px dotted #ccc;
	padding:5px;
  margin:0px;
	display:block;
}

#footer-region li:hover {
	background:#3c78a7;
	color:#fff;
}

#footer-region li:first-child {
	border-top:0px dotted #fff;
}

#footer-region h3{
	text-transform:lowercase;
	margin:0;
	font-weight:bold;
	font-size:1.5em;
	letter-spacing:-0.05em;
}

#footer-region h3 {
	color:#fff;
}

#footer {
	margin: 0 auto;
	width: 960px;
	font-size:0.6em;
	padding-top:10px;
	padding-bottom:10px;
}

/*
 * Pager Navigation links
 */
.pager ul {
  padding:0px!important;
  margin:10px 0px!important;
  font-size:0.82em;
}

.pager li {
	padding: 2px!important;
  margin:10px 2px!important;
	text-decoration: none;
	border: 1px solid #C8DBEA!important;
	color: #3c78a7;
	background-color: #EDF3F8;
  background-image:none!important;
}

.pager li a {
	color: #3c78a7;
}

.pager li:hover  {
  background-color: #DAE7F1!important;
}

.pager li a:hover  {
  text-decoration: none;
}

/* 
 * Hack to show the pager properly in blocks - not pefect as it is no longer centered
 */
.block .pager li {
  float:left;
}